body, html {
  height: 100%;
  background-color: #222;
  margin: 0;
  overflow: hidden;
}

.scene {
  position: relative;
}

.player {
  background-image: url("player.png");
  background-size: contain;
  position: absolute;
}

.wall {
  background-image: url("wall.jpg");
  background-size: contain;
  position: absolute;
}

.floor {
  background-image: url("floor.jpg");
  background-size: contain;
  position: absolute;
}
