body, html {
  height: 100%;
  background-color: #222;
  margin: 0;
  overflow: hidden;
}

.player {
  background-color: red;
  position: absolute;
}

.wall {
  background-color: black;
  position: absolute;
}

.scene {
  position: relative;
}
